.btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 2rem;

  a {
      border: none;
  }

  p {
    margin: 0;
  }
}

.btn-principal {
  font-weight: 300;
  display: inline-block;
  margin-top: 25px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .15s ease 0s;

  &:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(238, 48, 48);
  }
}

.btn-submit {
  text-align: center;
  padding: $space-base;
}

.btn-yellow {
  box-shadow: 0 0 0 1px #ffe21f inset!important
}

.btn-blue {
  box-shadow: 0 0 0 1px #3ac0ff inset!important
}

.btn-red {
  box-shadow: 0 0 0 1px #ff5144 inset!important
}