/*Intro*/
.dashboard {
  color: rgb(214, 51, 51);
  width: 100%;
  float: left;
  border-top: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  background-color: $main-color;
  
  @include query(768px) {
    border: none;
    border-right: 1px solid #b2b2b2;
    width: 20%;
    height: 250vh;
  }
}

.dashboard__nav {
  text-align: center;
  margin-top: $space-base;
}

.dashboard__a {
  text-align: center;
  padding: 1rem;
  color: #fff;

  &:hover {
    color: rgb(63, 63, 63);
  }

  @include query(768px) {
    display: block;
    text-align: left;
  }
}


.dashborad__icon--newpage:before {
  background: center no-repeat url(../img/pagewhite.png);
  background-size: 93%;
  content: "";
  display: block;
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 24px;
}

.dashborad__icon--newpage:hover::before {
  background: center no-repeat url(../img/pageblack.png);
  background-size: 93%;
  content: "";
  display: block;
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 24px;
}

.dashborad__icon--preview:before {
  background: center no-repeat url(../img/eyewhite.png);
  background-size: 93%;
  content: "";
  display: block;
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 24px;
}

.dashborad__icon--preview:hover::before {
  background: center no-repeat url(../img/eyeblack.png);
  background-size: 93%;
  content: "";
  display: block;
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 24px;
}
.dashborad__icon--post:before {
  background: center no-repeat url(../img/penblack.png);
  background-size: 93%;
  content: "";
  display: block;
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 24px;
}

.dashborad__icon--post:hover::before {
  background: center no-repeat url(../img/postred.png);
  background-size: 93%;
  content: "";
  display: block;
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 24px;
}

.dashborad__icon--media:before {
  background: center no-repeat url(../img/mediablack.png);
  background-size: 93%;
  content: "";
  display: block;
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 24px;
}

.dashborad__icon--media:hover::before {
  background: center no-repeat url(../img/mediared.png);
  background-size: 93%;
  content: "";
  display: block;
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 24px;
}


.sidebar__title {
  padding-bottom: 2rem;
  color: white;
  margin: 0;
  font-weight: 200;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.sidebar__title--logo:before {
  content: "";
  display: block;
  background: center no-repeat url(../img/siteicon.png);
  width: 100%;
  height: 78px;
  background-size: 40%;
  margin-bottom: 10px;
  float: left;
}

@media only screen and (max-width: 600px) {
  .sidebar__title--logo:before {
      background-size: 30%;
  }
}

@media only screen and (max-width: 1000px) {
  .sidebar__title--logo:before {
      background-size: 20%;
  }
}

.home-container {
  float: left;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80%;

  h3 {
    text-align: center;
  }
}

.dashboard__a--return {
  text-align: left;
  font-weight: 800;
}

.dashboard__a--return:hover {
  border-bottom: 1px solid $main-color;
}

.dashboard-wrap__link {
  margin: 0 auto;
  padding: 1rem 0;
}